:root {
   --blue: #0075ff;
   --blue-alt: #0d69d5;
   --orange: #f59e0b;
   --green: #22c55e;
   --red: #f44336;
   --grey: #888;
}
/* Start Box */
.d-flex {
   display: flex;
}
.d-grid {
   display: grid;
}
.space-between {
   justify-content: space-between;
}
.align-center {
   align-items: center;
}
.f-wrap {
   flex-wrap: wrap;
}
.gap-20 {
   gap: 20px;
}
.d-block {
   display: block;
}
@media (max-width: 767px) {
   .block-mobile {
      display: block;
   }
}
/* End Box */

/* Start Padding + Margin + widht */
.w-full {
   width: 100%;
}
.w-fit {
   width: fit-content;
}
.p-10 {
   padding: 10px;
}
.p-15 {
   padding: 15;
}
.p-20 {
   padding: 20px;
}
.m-20 {
   margin: 20px;
}
.m-0{
   margin: 0;
}
.mt-0 {
   margin-top: 0;
}
.mt-5 {
   margin-top: 5px;
}
.mt-10 {
   margin-top: 10px;
}
.mb-5 {
   margin-bottom: 5px;
}
.mb-10 {
   margin-bottom: 10px;
}
.mb-20 {
   margin-bottom: 20px;
}
.mt-20 {
   margin-top: 20px;
}
.b-none {
   border: none;
}
/* End Padding + Margin */
/* Start coler */
.bg-white {
   background-color: white;
}
.bg-eee {
   background-color: #eee;
}
.bg-blue {
   background-color: var(--blue);
}
.c-black {
   color: black;
}
.c-grey {
   color: var(--grey);
}
.c-white {
   color: white;
}
.c-red {
   color: red;
}
.c-blue {
   color: var(--blue);
}
.c-orange {
   color: var(--orange);
}
.c-green {
   color: var(--green);
}
.bg-orange {
   background-color: var(--orange);
}
.bg-green {
   background-color: var(--green);
}
/* End coler */
/* Start Position */
.p-relative{
   position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
   text-align: center;
}
@media (max-width: 767px) {
   .txt-c-mobile {
      text-align: center;
   }
}
.fs-13 {
   font-size: 13px;
}
.fs-14 {
   font-size: 14px;
}
.fs-15 {
   font-size: 15px;
}
.fs-25 {
   font-size: 25px;
}
.fw-bold {
   font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
   border-radius: 6px;
}
.rad-10 {
   border-radius: 10px;
}
/* End Border */
/* Start Compoenets */
.between-flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.btn-shape {
   padding: 4px 10px;
   border-radius: 6px;
}
.center-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
/* End Compoenets */
@media (max-width: 767px) {
   .hide-mobile {
      display: none;
   }
}





